# Hugo
/public/
/resources/_gen/
.hugo_build.lock

# Local caches and tooling
.cache/
.bundle/
vendor/
.jekyll-cache/
_site/
__pycache__/
*.pyc

# Editors
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db
